
:root {
    --color-stone: #dcd3c9;
    --color-putty: #f1efe9;
    --color-cloud: #f9f7f2;
    --color-brick: #c6bdb6;
    --color-bee:   #d8a619;
    --color-text:  #335259;
    --size-body: 18px;   /* 14pt */
    --size-form: 16px;   /* 13pt */
    --size-bigger: 22px; /* 18pt */
    --size-header: 32px; /* 24pt */
    --size-footer: 12px; /* 9pt */
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: var(--size-body);
    min-width: 320px;
    height: 100%;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: var(--color-stone);
    color: var(--color-text);
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 680px;
    height: 100%;
    width: 100%;
}

#root > * {
    flex: 1;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 600;
}

.text-bigger {
    font-size: var(--size-bigger);
}

.text-message {
    text-align: center;
    font-weight: 600;
    font-size: var(--size-bigger);
    line-height: 1.4;
    padding: 50px 40px 30px;
}


/* ======== Header ========  */

.header {
    flex: 0 !important;
    padding: 40px 0 20px;
    text-align: center;
    width: 100%;
}
.header h1 {
    color: var(--color-bee);
    font-size: var(--size-header);
    line-height: 1;
    margin: 0;
}
.header h1 > * {
    vertical-align: bottom;
}

.header .logo {
    display: inline-block;
    height: 1.2em;
    margin: 0 5px;
}
.header .logo.flip {
    transform: scaleX(-1);
}

@media (max-width: 370px) {
    .header h1 {
        font-size: 26px;
    }
}

/* ======== Navigation ========  */

.navbar {
    padding: 10px 0 20px;
    text-align: center;
    width: 100%;
}

/* ======== Entry Block ========  */

.entry-group {
    padding-top: 40px;
}

.entry-block {
    background: var(--color-putty);
    border-radius: 4px;
    box-shadow: 0px -6px 4px -3px rgba(0,0,0,0.05);
    margin-bottom: -30px;
    max-height: 200px;
    padding:  20px 20px 60px;
    position: relative;
    transition: max-height 0.8s ease-out;
}

.entry-block:last-child {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.entry-block.entry-open {
    background: var(--color-cloud);
    max-height: 1000px;
}


.entry-block:first-child {
    box-shadow: 0px -6px 4px -3px rgba(0,0,0,0.04);
}

.entry-block:first-child .entry-tab {
    box-shadow: 3px -3px 4px 0px rgba(0,0,0,0.04);
}

.entry-block.entry-open + .entry-block {
    box-shadow: 0px -6px 4px -3px rgba(0,0,0,0.08);
}
.entry-block.entry-open + .entry-block .entry-tab {
    box-shadow: 3px -3px 4px 0px rgba(0,0,0,0.08);
}

.entry-block.entry-open .entry-tab {
    background: var(--color-cloud);
}

.entry-tab {
    background: var(--color-putty);
    border-radius: 4px;
    box-shadow: 3px -3px 4px 0px rgba(0,0,0,0.05);
    color: inherit;
    display: inline-block;
    font-weight: 600;
    margin-left: -20px;
    min-width: 100px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    top: -35px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.entry-brief {
    padding: 0 0 20px;
}

.entry-brief > span {
    display: inline-block;
    padding-right: 10px;
}
.entry-brief > span:not(:last-child):after {
    content: "/";
    padding-left: 10px;
}

.entry-block .button {
    background: var(--color-stone);
    color: var(--color-cloud);
}

.entry-record {
    padding: 0 0 10px;
    display: flex;
}

.entry-record-block {
    padding: 0 0 10px;
    display: block;
}

.entry-record label,
.entry-record-block label {
    display: inline-block;
    padding-right: 5px;
    font-style: italic;
    min-width: 90px;
}

.entry-record label::after,
.entry-record-block label::after {
    content: ':';
}

.entry-record :not(label) {
    flex: 1 1 0px;
}

/* ======== Forms ========  */

.form {
    padding: 0 10px;
}

.form-field {
    padding: 0 0 10px;
}

.form-field label {
    vertical-align: top;
    display: block;
    margin-left: 30px;
    padding: 5px 0;
}

.form-field textarea,
.form-field input {
    background: var(--color-putty);
    border: none;
    border-radius: 6px;
    color: inherit;
    font: inherit;
    font-size: var(--size-form);
    padding: 13px;
    padding-left: 30px;
    width: 100%;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
    color: var(--color-brick);
}

.form-field textarea {
    min-height: 200px;
}

/* ======== Buttons ========  */

.button {
    background: var(--color-brick);
    border: none;
    border-radius: 8px;
    color: var(--color-putty);
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-size: var(--size-form);
    font-weight: 600; /* bold */
    margin-bottom: 10px;
    min-width: 90px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.button:disabled,
.button.disabled,
.button[disabled='disabled'] {
    background: transparent !important;
    border: 2px solid var(--color-brick);
    color: var(--color-brick);
    padding: 8px 13px;
    pointer-events: none;
    touch-actions: none;
}

.button.highlight {
    background: var(--color-bee);
}

.button + .button {
    margin-left: 10px;
}

/* ======== Footer ========  */

.footer {
    flex: 0 !important;
    color: var(--color-brick);
    font-size: var(--size-footer);
    line-height: 1.6;
    padding: 30px 0 10px;
    width: 100%;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
