
html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    min-width: 320px;
    height: 100%;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, #root {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 680px;
}

.text-center {
    text-align: center;
}


/* ======== Header ========  */

.header {
    width: 100%;
    padding: 10px;
}
.header h1 {
    line-height: 1;
    margin: 0;
}
.header .logo {
    display: inline-block;
    height: 1em;
    margin: 0 5px;
    vertical-align: bottom;
}

/* ======== Navigation ========  */

.navbar {
    padding: 10px 20px 20px;
    width: 100%;
}

/* ======== Entry Block ========  */

.entry-block {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.entry-group .entry-block + .entry-block {
    margin-top: 10px;
}

.entry-record {
    padding: 0 0 10px;
}

.entry-record label {
    color: #777;
    display: inline-block;
    padding-right: 5px;
    min-width: 90px;
}

.entry-record label::after {
    content: ':';
}

/* ======== Forms ========  */

.form {
    padding: 0 10px;
}

.form-field {
    padding: 0 0 10px;
}

.form-field label {
    vertical-align: top;
    display: block;
}

.form-field textarea,
.form-field input {
    border: 1px solid #ccc;
    border-radius: 0;
    font: inherit;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}

/* ======== Buttons ========  */

.button {
    background: #061;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: none;
}

.button + .button {
    margin-left: 10px;
}

/* ======== Footer ========  */

.footer {
    color: #aaa;
    font-size: 12px;
    line-height: 1.6;
    padding: 30px 20px 10px;
    width: 100%;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
